
#light-img{
    height: 40%;
    width: 40%;
    
}

#light-switch{
    font-size:20px;
    color: black;
    height: 50px;
    width: 200px;
    border-radius:20px;
    font-weight: bold;
}

#light-container{
    border:2px black solid;
    border-radius:20px;
    display:inline-block;
    text-align: center;
    padding:20px;
    background-color: #435f7d;
}